.parent {
	background: linear-gradient(to left, #2d98d6, #44b6d8);
	width: 100%;
	min-height: 90vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-top: 5rem;
	gap: 4rem;
}

.main {
	width: 40%;
	height: 350px;
	background-color: aliceblue;
	border-radius: 20px;
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
}

@media (min-width: 2560px) {
	.main {
		width: 30%;
	}
}

@media (max-width: 970px) {
	.main {
		width: 60%;
	}
}

@media (max-width: 680px) {
	.main {
		width: 80%;
	}
}

@media (max-width: 505px) {
	.main {
		width: 90%;
	}
}
